<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/html_head :: html_head" />
    <body>

        <div class ="container">
            <div th:replace="fragments/topnav :: navbar">
            </div>            
            <h1>Welcome to your first dashboard!</h1>
        </div>
        
        

        <div th:replace="fragments/body-bottom-scripts :: body-bottom-scripts">
        </div>
        
    </body>
</html>











