<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddNotificationServlet</servlet-name>
        <servlet-class>servlets.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllNotificationServlet</servlet-name>
        <servlet-class>servlets.AllNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <servlet-class>servlets.UpdateNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationEditServlet</servlet-name>
        <servlet-class>servlets.NotificationEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <servlet-class>servlets.DeleteNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNotificationServlet</servlet-name>
        <url-pattern>/AddNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllNotificationServlet</servlet-name>
        <url-pattern>/AllNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationServlet</servlet-name>
        <url-pattern>/UpdateNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationEditServlet</servlet-name>
        <url-pattern>/NotificationEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <url-pattern>/DeleteNotificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
